// Colors

$white: #fff;
$black: #000;
$grey: #888da8;
$dark-grey: #515365;
$light-grey: #e6ecf5;
$primary-color: #ff5e3a;
$facebook-color: #4267b2;
$twitter-color: #38A1F3;
$dribble-color: #f74881;
$profile-header-color: #3f4257;
$search-background: #494c62;
$search-color: #696d87;
$profile-body-background: #edf2f6;
$online-status: #32e4cd;
$away-status: #ffd52f;
$blue: #38a9ff;
$purple: #7c5ac2;
$light-green: #08ddc1;
$link-color: #38bff1;
$panel-button-color: #9a9fbf;
$reply-background-color: #fafbfd;

// Fonts

$font-family: 'Roboto', sans-serif;

// Font weights

$weight-light: 300;
$weight-normal: 400;
$weight-bold: 700;

// Responsive breakpoints

$xs-min: 320px;
$xs-max: 768px;
$md-min: 769px;
$md-max: 1023px;
$lg-min: 1024px;
$lg-max: 1200px;