.fixed-sidebar {
	position: fixed;
	top: 70px;
	width: 70px;
	height: 100%;
	background: $white;
	box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
	z-index: 10;
	@media screen and (max-width: $md-max) {
		display: none;
	}
	ul {
		@include flexbox;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		list-style: none;
		li {
			position: relative;
			margin-top: 30px;
			font-size: 22px;
			color: $grey;
			&:hover {
				color: $primary-color;
			}
			img {
				border-radius: 50%;
			}
			.status {
				content: '';
				position: absolute;
				top:0;
				left: 0;
				width: 10px;
				height: 10px;
				border: 2px solid $white;
				border-radius: 50%;
				&.online {
					background: $online-status;
				}
				&.offline {
					background: $primary-color;
				}
				&.away {
					background: $away-status;
				}
			}
		}
	}
	&.left {
		left: 0;
	}
	&.right {
		right: 0;
	}
}